@import "variables";
@import "~bootstrap/scss/mixins/breakpoints";
@mixin grid-gutter($gutter-width) {
	margin-left: -$gutter-width*0.5;
	margin-right: -$gutter-width*0.5;
	& > [class^="col"] {
		padding-left: $gutter-width*0.5;
		padding-right: $gutter-width*0.5;
	}
}
@mixin position-absolute() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
@mixin object-fit-cover() {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: "object-fit: cover;";
}
@mixin check-list() {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
	font-size: 16px;
	//font-weight: 600;
	line-height: 1.5;
	color: $gray-700;
	@include media-breakpoint-up(lg) {
		font-size: 18px;
		line-height: 1.55;
	}
	li {
		padding-left: 30px;
		position: relative;
		margin: 0 0 10px;
		&::before {
			content: url("../img/ico-check.svg");
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	b {
		font-weight: 600;
	}
}
@mixin steps-list() {
	--offset: 25px;
	margin: 0;
	padding: 0;
	list-style: none;
	counter-reset: list;
	display: flex;
	flex-wrap: wrap;
	@include media-breakpoint-up(lg) {
		padding: 0 40px;
		margin-left: calc(var(--offset) * -1);
		margin-right: calc(var(--offset) * -1);
	}
	>li {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis: 100%;
		max-width: 100%;
		text-align: center;
		position: relative;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.25s ease;
		margin-bottom: 43px;
		@include media-breakpoint-up(md) {
			flex-basis: calc(calc(100% / 3) - calc(var(--offset) * 2));
			max-width: calc(calc(100% / 3) - calc(var(--offset) * 2));
			margin-left: var(--offset);
			margin-right: var(--offset);
			margin-bottom: 20px;
		}
		@include media-breakpoint-down(md) {
			&:nth-last-child(1) {
				margin-bottom: 0;
			}
		}
		//&::before {
		//	content: counters(list, " ");
		//	counter-increment: list;
		//	height: 36px;
		//	width: 36px;
		//	background: $blue-03;
		//	border-radius: 50%;
		//	color: $white;
		//	display: flex;
		//	align-items: center;
		//	justify-content: center;
		//	margin: 0 0 20px;
		//	@include media-breakpoint-up(md) {
		//		height: 48px;
		//		width: 48px;
		//		font-size: 22px;
		//	}
		//}
		//&:nth-child(3n + 3),
		//&:nth-child(3n + 2) {
		//	&::after {
		//		content: url("../img/img-steps-decor-mob.svg");
		//		position: absolute;
		//		bottom: 98%;
		//		right: 50%;
		//		pointer-events: none;
		//		transform: translateX(50%);
		//		@include media-breakpoint-up(md) {
		//			content: url("../img/img-steps-decor.svg");
		//			top: 5px;
		//			right: 60%;
		//			transform: none;
		//		}
		//		@include media-breakpoint-up(xl) {
		//			right: 75%;
		//		}
		//	}
		//}
		h3 {
			font-size: 22px;
			font-style: normal;
			font-weight: 800;
			line-height: 34px;
			color: $gray-700;
			margin: 20px 0 10px;
			@include media-breakpoint-up(md) {
				margin: 20px 0 10px;
			}
		}
	}
}