@import "variables";
@import "~bootstrap/scss/mixins/breakpoints";
.money-fast-form {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 0 13px;
	@include media-breakpoint-up(lg) {
		margin: 0 0 18px;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			width: 434px;
			max-width: 57%;
			margin: 0 auto;
		}
	}
	h4 {
		font-size: 18px;
		font-weight: 700;
		line-height: 1.2;
		color: $gray-700;
		margin: 0 0 22px;
		@include media-breakpoint-up(lg) {
			font-size: 20px;
			margin: 0 0 20px;
		}
	}
	select {
		appearance: none;
		background-color: transparent;
		width: 100%;
		font-weight: 600;
		font-size: 16px;
		background-image: url("../img/ico-chevron-down.svg");
		background-position: 94% 50%;
		background-size: 16px 16px;
		background-repeat: no-repeat;
		border: 1px solid $gray-200;
		border-radius: 50px;
		margin: 0 0 10px;
		padding: 12px 20px;
		@include media-breakpoint-up(lg) {
			background-position: 92% 50%;
			margin: 0 10px 0 0;
			padding: 13px 20px;
			width: calc(60% - 10px);
		}
	}
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		font-weight: 700;
		width: 100%;
		padding: 10px;
		text-transform: uppercase;
		background: $orange;
		@include media-breakpoint-up(lg) {
			padding: 6px 10px;
			width: 40%;
		}
		&:hover {
			font-size: 16px;
			width: 40%;
			padding: 6px 10px;
		}
	}
	footer {
		padding: 16px 0;
		font-size: 16px;
		font-weight: 600;
		color: $blue-03;
		@include media-breakpoint-up(lg) {
			padding: 22px 0;
		}
		img {
			margin-right: 6px;
		}
	}
}