@import "variables";
@import "~bootstrap/scss/mixins/breakpoints";
#smart-banner-holder {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
body.smart-banner-active {
	main {
		@include media-breakpoint-down(md) {
			padding-top: 157px;
		}
	}
}