@import "~bootstrap/scss/mixins/breakpoints";
.team-section {
	padding: 40px 0;
	@include media-breakpoint-up(lg) {
		padding: 60px 0;
	}
	.row {
		align-items: center;
		>div {
			margin-bottom: 9px;
			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
			&:nth-last-child(1) {
				margin-bottom: 0;
			}
		}
	}
	.text-holder {
		@include media-breakpoint-up(lg) {
			margin: -6px 0 0;
			padding: 0 100px 0 0;
		}
		h2 {
			margin: 0 0 20px;
		}
		p {
			margin: 0 0 10px;
		}
	}
	.img-holder {
		@include media-breakpoint-up(lg) {
			margin-left: -30px;
		}
	}
}